{{#partial "content"}}
    <div class="alert alert-success">
        <h1>Congratulations!</h1>

        <p>You have successfully created a new squad</p>

        <a href="/">Go Back to view</a>
    </div>

{{/partial}}

{{> layout.hbs}}

