{{#partial "content"}}

{{/partial}}



{{#partial "footer"}}
    <footer class="footer">

        <div class="container">
            <p class="text-muted"><a href="">DELETE ALL HEROES<br><br></a></p>
        </div>

    </footer>
{{/partial}}



{{> layout.hbs}}